* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fcc6ff;
    align-items: center;
}

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.Account {
    font-family: sans-serif;
    text-align: center;
}

.form .form__custom-button {
    margin-top: 50px;
}
