.PinkPong {
    text-align: center;
  }
  
  .PinkPong-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .PinkPong-logo {
      animation: PinkPong-logo-spin infinite 20s linear;
    }
  }
  
  .PinkPong-header {
    background-color: #0c214c;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(115, 33, 33);
  }
  
  .PinkPong-link {
    color: #61dafb;
  }
  
  @keyframes PinkPong-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .field {
    background: rgb(27, 26, 26);
    border: #d12e88;
    float: center;
    font-size: 25px;
    line-height: 34px;
    height: 800px;
    margin-right: 100px;
    margin-top: 100px;
    padding: 100;
    text-align: center;
    width: 150px;
  }

  .paddle {
      background: #ae2362;
      border: 1px solid #999;
      float: center;
      font-size: 24px;
      font-weight: bold;
      line-height: 34px;
      height: 34px;
      margin-right: 0px;
      margin-top: 100px;
      padding: 0;
      text-align: center;
      width: 150px;
  }

  .opponent {
      background: #377535;
      border: 1px solid #999;
      float: center;
      font-size: 24px;
      font-weight: bold;
      line-height: 34px;
      height: 34px;
      margin-right: 0px;
      margin-top: 866px;
      padding: 0;
      text-align: center;
      width: 150px;
  }
  
  .ball {
      background: #0033cc;
      border: 5px solid #999;
      float: left;
      font-size: 24px;
      font-weight: bold;
      line-height: 34px;
      height: 50px;
      margin-right: -1px;
      padding: 0;
      text-align: center;
      width: 50px;
  }
  